* {
    color: #FFFFFF;
}

body {
    margin: 0;
    background-color: #000000;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('assets/background_movies.jpg');
    background-repeat: no-repeat;
}

/* header */
header {
    border-bottom: #C1111A solid;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 28px 151px 28px 160px;
}

.logo {
    margin: -12px 0 0 -20px;
}

.nav-button {
    width: 70px; height: 32px;
    background-color: #E50A14;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 1s;
}

.nav-button:hover {
    background-color: #C1111A;
}

.slogan {
    margin: 236px 0 0 0;
    text-align: center;
}


.slogan-text1 {
    font-family: sans-serif;
    font-size: 56px;
    line-height: 70px;
    font-weight: 900;
}

.slogan-text2 {
    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: 500;
    line-height: 54px;
}

.slogan-text3 {
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: 400;
    line-height: 58px;
}

.sign_in-buttons {
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    width: 400px; height: 50px;
    background-color: #10100F;
    border: solid #B9B8A2 0.8px;
    color: #B8B8B8;
    border-radius: 4px;
    font-size: 16px;
}

.sign_in-button {
    width: 157px; height: 50px;
    background-color: #E50A14;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500px;
    border: none;
    border-radius: 4px;
    transition: 1s;
}

.sign_in-button:hover {
    background-color: #C1111A;
}





/* main */
main {
    background-color: #000000;
}

.sign_in-buttons_two {
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_two {
    width: 600px; height: 50px;
    background-color: #10100F;
    border: solid #B9B8A2 0.8px;
    color: #B8B8B8;
    border-radius: 4px;
    font-size: 16px;
}

.sign_in-button_two {
    width: 157px; height: 50px;
    background-color: #E50A14;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500px;
    border: none;
    border-radius: 4px;
    transition: 1s;
}

.sign_in-button_two:hover {
    background-color: #C1111A;
}




/* footer */
footer {
    background-color: #000000;
    font-family: sans-serif;
}

.questions {
    margin: 28px 151px 28px 148px;
}

.question_max {
    margin: 28px 151px 28px 148px;
    display: inline-block;    
}

footer a {
    color: #B3B3B3;
}